<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
 <style type="text/css">
  body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
 </style>
 <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=您的密钥"></script>
 <title>添加行政区划</title>
</head>
<body>
 <div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
  var cityList = [
     {"name": "上城区", dropName: "sc", "polygon": null, color: '#ed4014', index: 0},
     {"name": "下城区", dropName: "xc", "polygon": null, color: '#19be6b', index: 0},
     {"name": "西湖区", dropName: "xh", "polygon": null, color: '#808695', index: 1},
     {"name": "江干区", dropName: "jg", "polygon": null, color: '#f90', index: 0},
     {"name": "拱墅区", dropName: "gs", "polygon": null, color: '#17233d', index: 0},
     {"name": "滨江区", dropName: "bj", "polygon": null, color: '#2b85e4', index: 0},
     {"name": "萧山区", dropName: "xs", "polygon": null, color: '#2be498', index: 0},
     {"name": "余杭区", dropName: "yh", "polygon": null, color: '#ade42b', index: 0},
     {"name": "临安区", dropName: "la", "polygon": null, color: '#e48a2b', index: 0},
     {"name": "富阳区", dropName: "fy", "polygon": null, color: '#e42bdd', index: 0},
     {"name": "建德市", dropName: "jd", "polygon": null, color: '#7c2be4', index: 0},
     {"name": "桐庐县", dropName: "tl", "polygon": null, color: '#402be4', index: 0},
     {"name": "淳安县", dropName: "ca", "polygon": null, color: '#e42b99', index: 0}
    ];
 // 百度地图API功能
 var map = new BMap.Map("allmap");
 map.centerAndZoom(new BMap.Point(120.16, 30.27), 5);
     var mapType1 = new BMap.MapTypeControl({
       mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]
   });
   var mapType2 = new BMap.MapTypeControl({
       anchor: BMAP_ANCHOR_TOP_LEFT
   });
   var overView = new BMap.OverviewMapControl();
   var overViewOpen = new BMap.OverviewMapControl({
       isOpen: true,
       anchor: BMAP_ANCHOR_BOTTOM_RIGHT
   });
   //添加地图类型和缩略图
   function add_control() {
       map.addControl(mapType1); //2D图，卫星图
       map.addControl(mapType2); //左上角，默认地图控件
       map.setCurrentCity("北京"); //由于有3D图，需要设置城市哦
       map.addControl(overView); //添加默认缩略地图控件
       map.addControl(overViewOpen); //右下角，打开
   }
   //移除地图类型和缩略图
   function delete_control() {
       map.removeControl(mapType1); //移除2D图，卫星图
       map.removeControl(mapType2);
       map.removeControl(overView);
       map.removeControl(overViewOpen);
   }
  add_control()
 map.enableScrollWheelZoom();

 function getBoundary(item){       
  var bdary = new BMap.Boundary();
  bdary.get("杭州市" + item.name, function(rs){       //获取行政区域
   // map.clearOverlays();        //清除地图覆盖物       
   var count = rs.boundaries.length; //行政区域的点有多少个
   if (count === 0) {
    alert('未能获取当前输入行政区域');
    return ;
   }
           var pointArray = [];
   for (var i = 0; i < count; i++) {
   	console.log(rs)
    var ply = new BMap.Polygon(rs.boundaries[i], { color: '#008192', weight: 2, opacity: 1, fillColor: item.color, fillOpacity: 0 }); //建立多边形覆盖物
    map.addOverlay(ply);  //添加覆盖物
    pointArray = pointArray.concat(ply.getPath());
   }    
   map.setViewport(pointArray);    //调整视野  
   addlabel();               
  });   
 }

 for(var j = 0; j < cityList.length; j++) {
  getBoundary(cityList[j])
 }

 function addlabel() {
     var pointArray = [
       new BMap.Point(121.716076,23.703799),
       new BMap.Point(112.121885,14.570616),
       new BMap.Point(123.776573,25.695422)];
     var optsArray = [{},{},{}];
     var labelArray = [];
     var contentArray = [
       "台湾是中国的！",
       "南海是中国的！",
       "钓鱼岛是中国的！"];
     for(var i = 0;i < pointArray.length; i++) {
       optsArray[i].position = pointArray[i];
       labelArray[i] = new BMap.Label(contentArray[i],optsArray[i]);
       labelArray[i].setStyle({
   color : "red",
   fontSize : "12px",
     height : "20px",
     lineHeight : "20px",
     fontFamily:"微软雅黑"
    });
       map.addOverlay(labelArray[i]);
     }   
 }
</script>